<md-dialog
  aria-label=""
  class="mdp-timepicker"
  ng-class="{ 'portrait': !$mdMedia('gt-xs') }">
  <md-dialog-content
    layout-gt-xs="row"
    layout-wrap>
    <md-toolbar
      layout-gt-xs="column"
      layout-xs="row"
      layout-align="center center"
      flex
      class="mdp-timepicker-time md-blue md-primary">
      <div class="mdp-timepicker-selected-time">
        <span
          ng-class="{ 'active': timepicker.currentView == timepicker.VIEW_HOURS }"
          ng-click="timepicker.currentView = timepicker.VIEW_HOURS"
          ng-bind="timepicker.time.format(timepicker.hoursFormat)"></span>:
        <span
          ng-class="{ 'active': timepicker.currentView == timepicker.VIEW_MINUTES }"
          ng-click="timepicker.currentView = timepicker.VIEW_MINUTES"
          ng-bind="timepicker.time.format(timepicker.minutesFormat)"></span>
      </div>
      <div
        layout="column"
        ng-show="timepicker.ampm"
        class="mdp-timepicker-selected-ampm">
        <span
          ng-click="timepicker.setAM()"
          ng-class="{ 'active': timepicker.time.hours() < 12 }">AM</span>
        <span
          ng-click="timepicker.setPM()"
          ng-class="{ 'active': timepicker.time.hours() >= 12 }">PM</span>
      </div>
    </md-toolbar>
    <md-content>
      <div
        class="mdp-clock-switch-container"
        ng-switch="timepicker.currentView"
        layout
        layout-align="center center">
        <mdp-clock
          class="mdp-animation-zoom"
          ampm="timepicker.ampm"
          auto-switch="timepicker.autoSwitch"
          time="timepicker.time"
          type="hours"
          ng-switch-when="1"></mdp-clock>
        <mdp-clock
        class="mdp-animation-zoom"
        ampm="timepicker.ampm"
        auto-switch="timepicker.autoSwitch"
        time="timepicker.time"
        type="minutes"
        ng-switch-when="2"></mdp-clock>
      </div>
      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button
          ng-click="timepicker.cancel()"
          class="button button-grey-light"
          aria-label="{{timepicker.labels.cancelLabel}}">
          <span ng-bind="timepicker.labels.cancelLabel"></span>
        </md-button>
        <md-button
          ng-click="timepicker.confirm()"
          class="md-primary button button-grey-light"
          aria-label="{{timepicker.labels.okLabel}}">
          <span ng-bind="timepicker.labels.okLabel"></span>
        </md-button>
      </md-dialog-actions>
    </md-content>
  </md-dialog-content>
</md-dialog>
