@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  font-family: 'Open Sans', sans-serif;
}

md-toolbar.md-blue-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar){
  background-image: linear-gradient(205deg, #0ebdff, #03a9f4);
}

.mdp-nav-icon{
  color: #425e74;
  opacity: 0.3;
  transition: opacity 0.3s;

  &:hover{
    opacity: 1;
  }
}

.md-button{
  &.md-primary{
    &.md-raised,
    &.md-raised:not([disabled]):hover{
      background-color: #0dbbfe;
    }
    &.button{
      &:hover{
        background-color: #0ebdff;
      }
    }

    &.md-blue{
      color: #44bcf3;
    }
  }
  &.md-accent.md-raised,
  &.md-accent.md-raised:not([disabled]):hover{
    background-color: #0dbbfe;
  }

  &.md-button.md-raised[disabled]{
    background-color: rgba(66, 94, 116, 0.1);
  }

}
