<div
  layout
  layout-align="start start">
  <md-button
    class="md-icon-button"
    ng-click="showPicker($event)"
    {{angular.isDefined(attrs.mdpDisabled) ? ng-disabled="disabled" : ''}}>
    <md-icon md-svg-icon="mdp-access-time"></md-icon>
  </md-button>
  <md-input-container
    {{(noFloat ? 'md-no-float' : '')}}
    md-is-error="isError()">
    <input
      name="{{ inputName }}"
      ng-model="model.$viewValue"
      ng-required="required()"
      type="{{ ::type }}"
      {{angular.isDefined(attrs.mdpDisabled) ? ng-disabled="disabled" : ''}}
      aria-label="{{placeholder}}"
      placeholder="{{placeholder}}"
      {{openOnClick ? 'ng-click="showPicker($event)"' : ''}}/>
  </md-input-container>
</div>
