<div
  layout
  layout-align="start start">
  <md-button
    class="md-icon-button"
    ng-click="showPicker($event)"
    ng-disabled="{{ disabled }}">
    <md-icon class="mdp-nav-icon" md-svg-icon="mdp-access-time"></md-icon>
  </md-button>
  <md-input-container
    md-no-float="!!noFloat"
    md-is-error="isError()">
    <input
      type="{{ ::type }}"
      name="{{ inputName }}"
      ng-model="model.$viewValue"
      ng-required="required()"
      ng-disabled="{{ disabled }}"
      aria-label="{{ placeholder }}"
      placeholder="{{ placeholder }}"
      ng-click="showPicker($event)"/>
  </md-input-container>
</div>
