<div layout layout-align="start start">
  <md-button
    ng-disabled="{{ disabled }}"
    class="md-icon-button"
    ng-click="showPicker($event)">
    <md-icon class="mdp-nav-icon" md-svg-icon="mdp-event"></md-icon>
  </md-button>
  <md-input-container
    md-no-float="!!noFloat"
    md-is-error="isError()">
    <input
      type="{{ ::type }}"
      name="{{ inputName }}"
      ng-model="model.$viewValue"
      ng-required="required()"
      ng-disabled="{{ disabled }}"
      aria-label="{{ placeholder }}"
      placeholder="{{ placeholder }}"
      ng-click="showPicker($event)"/>
  </md-input-container>
</div>
