<div layout layout-align="start start">
  <md-button
    {{angular.isDefined(attrs.mdpDisabled) ? ng-disabled="disabled" : ''}}
    class="md-icon-button"
    ng-click="showPicker($event)">
    <md-icon md-svg-icon="mdp-event"></md-icon>
  </md-button>
  <md-input-container
    {{(noFloat ? ' md-no-float ' : ' '}}
    md-is-error="isError()">
    <input
      name="{{ inputName }}"
      ng-model="model.$viewValue"
      ng-required="required()"
      type="{{ ::type }}"
      {{(angular.isDefined(attrs.mdpDisabled) ? ng-disabled="disabled" : '')}}
      aria-label="{{placeholder}}"
      placeholder="{{placeholder}}"
      {{(openOnClick ? ' ng-click="showPicker($event)" ' : ' ')}} />
  </md-input-container>
</div>
